<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemo">
	<parameter name="browserName" value="chrome"/>
	<parameter name="url" value="https://www.saucedemo.com/"/>
	<test name ="FirstCase">
		<parameter name="username" value="standard_user"/>
		<parameter name="password" value="secret_sauce"/>
    	<classes>
      		<class name="base.TestBase"/>
    	</classes>
  	</test> <!-- Test -->
  	<test name ="SecondCase">
		<parameter name="username" value="standard_Invaliduser"/>
		<parameter name="password" value="secret_Invalidpwd"/>
    	<classes>
      		<class name="base.TestBase"/>
    	</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
